<h2>{{ name }}</h2>


<program-tree canvas="tree" program="run.results[0].individuals.best"/>
<div class="grid-row">
  <div class="grid-1-2">
    <h3>Constant set</h3>

    <div ng-repeat="constant in run.constants track by $index">
      <input type="number" ng-model="run.constants[$index]" />
      <button ng-click="run.constants.splice($index, 1)">Remove</button>
    </div>

    <button ng-click="run.constants.push(0)">Add constant</button>

    <h3>Function set</h3>

    <div ng-repeat="function in functions">
      <label>
        <input type="checkbox" checklist-model="run.functions" checklist-value="function" />
        {{ function.name }}
      </label>
    </div>
  </div>

  <div class="grid-1-2">
    <button ng-click="evolve()" ng-hide="worker.running">BIG RED BUTTON</button>
    <button ng-click="terminate()" ng-show="worker.running">AAAGH STOP</button>

    <div ng-if="run.results.length">
      <div ng-repeat="result in run.results | orderBy: $index">
        {{ result.generation }}, {{ result.scores.best }}
      </div>
    </div>
  </div>
</div>

<a ui-sref="^">Back</a>
