$darker-blue: #05283c;
$dark-blue: #094162;
$blue: #0c5582;
$light-blue: #0e69a0;
$lighter-blue: #159cee;

$dark-gray: #353446;
$gray: #66637a;
$light-gray: #80848f;
$lighter-gray: #a2a6b1;

$black: #222;
$white: #fff;
