@import 'colors';
@import 'fonts';

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $blue;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

body {
  color: $black;
  font-family: $body-font-family;
  font-size: $base-size;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 300;
}

html {
  box-sizing: border-box;
}
