.table {
  border-collapse: collapse;
  border-spacing: 0;

  &.input-matrix {
    th {
      border-bottom-width: 3px;
    }

    .input {
      text-align: center;
    }
  }

  td, th {
    border: 1px solid $lighter-gray;
  }

  .action-row {
    background-color: $lighter-gray;
    cursor: pointer;
    padding: 1em;
    text-align: center;
  }
}
