.title {
  font-size: 12px;
}

.canvas {
  overflow: hidden;
}

.canvas .wrapper.outer > .background {
  fill: #000000;
}
.canvas .wrapper.inner > .background {
  fill: #CCCCCC;
  cursor: move;
}
.canvas .background {
  fill: #F6F6F6;
  stroke: #333333;
  cursor: move;
}
.canvas .panCanvas {
  cursor: move;
}

.canvas .minimap .frame .background {
  stroke: #111111;
  stroke-width: 4px;
  fill-opacity: 0.4;
  fill: #000000;
  fill: url(#minimapGradient_cwbjo);
  filter: url(#minimapDropShadow_cwbjo);
  cursor: move;
}

.forcecircle {
  stroke: #111111;
  fill: blue;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 2em sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
