@import 'global';

@import 'forms';
@import 'grid';
@import 'lists';
@import 'tables';
@import 'tree';

.body {
  padding: 4em 2em 2em 2em;
}

.brand {
  font-size: 1.5em;
  margin: 0;

  a {
    background-color: $darker-blue;
    color: $white;
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
  }
}

.dashboard {
  display: flex;
  height: 100vh;

  .pane {
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
  }
}

.problem-item {
  background-color: $blue;
  color: $white;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;

  &.active {
    font-weight: bold;
  }
}

.problem-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.run-item {
  color: $white;
  display: block;
  padding: 0.5em 2em;

  &.active {
    font-weight: bold;
  }
}

.section {
  margin-bottom: 2em;
}

.section-empty {
  color: $gray;
}

.section-header {
  align-items: center;
  display: flex;

  > * {
    margin-right: 1rem;
  }
}

.sidebar {
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  max-width: 16em;

  .button {
    background-color: $lighter-blue;
    color: $white;

    &:hover {
      background-color: lighten($lighter-blue, 5%);
    }
  }
}


/*For dashboard.problem.run*/
.vpad{
  padding-top: .6em;
}

.text-center{
  text-align:center;
}

#runZone{
  padding:1em;
  border-style: solid;
  border-color: grey;
  min-width: 20em;
  height: 20em;
}

#runResults{
  overflow:auto;
  padding:1em;
  height: 15em;

}

.generation{
  min-width: 5em;
}
