@import 'global';

@import 'forms';

.body {
  padding: 4em 2em 2em 2em;
}

.brand {
  font-size: 1.5em;
  margin: 0;

  a {
    background-color: $darker-blue;
    color: $white;
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
  }
}

.dashboard {
  display: flex;
  height: 100vh;

  .pane {
    max-height: 100%;
    overflow: auto;
  }
}

.problem-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.problem-item {
  background-color: $blue;
  display: block;
  color: $white;
  padding: 0.5em 1em;
  text-decoration: none;

  &.active {
    font-weight: bold;
  }
}

.problem-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  width: 16em;

  .button {
    background-color: $lighter-blue;
    color: $white;

    &:hover {
      background-color: lighten($lighter-blue, 5%);
    }
  }
}
